[Unit]
Description=Prometheus Server
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
ExecStart=/app/monitoring/prometheus/prometheus \
  --config.file=/app/monitoring/prometheus/prometheus.yml \
  --storage.tsdb.path=/app/monitoring/prometheus/data \
  --storage.tsdb.retention.time=30d

[Install]
WantedBy=multi-user.target
