[Unit]
Description=Grafana Server
After=network-online.target

[Service]
User=grafana
Group=grafana
Restart=on-failure
ExecStart=/app/monitoring/grafana/bin/grafana server \
  --config /app/monitoring/grafana/conf/defaults.ini \
  --homepath /app/monitoring/grafana

[Install]
WantedBy=multi-user.target
